html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* Collapse the Navigation bar and replace it with a button to reveal the Nav bar when the windows width gets too small. (Mobile mode) */ 
@font-face {
	font-family: roboto;
	src: url("/includes/fonts/roboto-medium.ttf");
}
html {
	background-color: #fffaf0;
	color: #363534 ;
	font-family: roboto;
}
#nav {
	height: 100%;
	position: fixed;
	box-shadow: 2px 0px 10px rgb(0,0,0);
	width: 200px;
}
#logo {
	width: 150px;
	height: 150px;
}
.navElm:hover {
	background: rgb(160, 160, 160);
}
.navElm {
    height: 25px;
    padding-left: 50px;
	padding-top: 15px;
    padding-bottom: 15px;
}
.navText {
    position: relative;
	width: 100%;
	text-decoration: none;
	text-align: center;
    pointer-events: none;
    user-select: none
}

#map {
	margin-top: 15px;
	width: 100%; 
	height: 450px;
}

/* Need to change margin-left from 30% to a smaller number when the screen width gets too small. Needs to be implemented in Java Scripts */
.main {
    top: 20%;
    position: absolute;
	margin-left: 25%;
	margin-right: 25%;
}
.main.p {
	margin-top: 15px;
}
#mainTitle {
    border-style: solid;
	margin-top: 0px;
	font-size: 2.76vw;
    font-weight: 900;
}

#Search 

#SearchButton {
	margin-top: 20px;
}